  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .container {
      max-width: 150rem;
      scroll-snap-type: y mandatory;
      height: 100vh;
      align-items: center;
      justify-content: center;
  }

  section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }