  .background-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }

  .container {
      max-width: 170rem;
      scroll-snap-type: y mandatory;
      height: 100vh;
      overflow-y: hidden;
      align-items: center;
      justify-content: center;
  }

  section {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
  }

  @font-face {
      font-family: 'Pirulen';
      src: url('/fonts/pirulen.ttf');
  }

  @font-face {
      font-family: 'Coco Gothic';
      src: url('/fonts/coco-gothic.ttf');
  }

  body {
      overflow: hidden;
      /* Keeps main overflow hidden */
      overflow-x: hidden;
      /* Explicitly prevent horizontal scroll */
      margin: 0;
      /* Ensure no default margin causes overflow */
  }

  .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 98%;
      min-height: 100vh;
      position: relative;
      box-sizing: border-box;
      gap: 2rem;
  }

  .left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
  }

  .important-image img {
      height: auto;
      max-width: 100%;
      max-height: 80vh;
      overflow: visible;
      transform: scale(1.1) rotate(0deg);
      transition: transform 1s;
      transform-origin: center center;
  }

  .important-image img:hover {
      height: auto;
      transform: scale(1.6) rotate(-10deg);
      transition: 1s;
  }

  .right {
      flex: 1;
      width: 60vw;
      height: auto;
  }

  .subtitle {
      font-size: clamp(1rem, 4vw, 3rem);
      padding-right: 10px;
      font-family: 'Pirulen', sans-serif;
      color: #636363;
      direction: rtl;
      line-height: 1.2;
      white-space: nowrap;
  }

  .title {
      padding-right: 10px;
      font-family: 'Pirulen', sans-serif;
      font-size: clamp(2rem, 8vw, 6.5rem);
      direction: rtl;
      background: linear-gradient(90deg,
              #41DCCC 0%,
              #59D3FF 50%,
              #41DCCC 100%);
      line-height: 1.1;
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite;
      animation-delay: 0s;
  }

  .title-left {
      padding-right: 10px;
      font-family: 'Pirulen', sans-serif;
      font-size: clamp(2rem, 8vw, 6.5rem);
      direction: ltr;
      background: linear-gradient(90deg,
              #41DCCC 0%,
              #59D3FF 50%,
              #41DCCC 100%);
      line-height: 1.1;
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite;
      animation-delay: 0s;
  }

  .description {
      padding-right: 10px;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      font-family: 'Coco Gothic', sans-serif;
      margin-top: 2rem;
      color: #949494;
      text-align: justify;
  }

  .nav-buttons {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      justify-content: end;
      gap: 0.5rem;
      margin-top: 2rem;
      direction: ltr;
  }

  .map-container {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
      /* Align roughly with the grid */
      direction: ltr;
  }


  .btn {
      font-family: 'Pirulen', sans-serif;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.15);
      color: white;
      padding: clamp(0.4rem, 1vw, 0.6rem) clamp(0.8rem, 2vw, 1.2rem);
      border-radius: 2rem;
      font-size: clamp(0.8rem, 1.5vw, 1.5rem);
      transition: background 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      white-space: nowrap;
  }

  .btn.selected {
      font-family: 'Pirulen', sans-serif;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.15);
      color: white;
      padding: clamp(0.4rem, 1vw, 0.6rem) clamp(0.8rem, 2vw, 1.2rem);
      border-radius: 2rem;
      font-size: clamp(0.8rem, 1.5vw, 1.5rem);
      transition: background 0.2s;
      color: #41DCCC;
  }

  .btn-map {
      font-size: clamp(1rem, 2vw, 2rem) !important;
      padding: clamp(0.8rem, 2vw, 1.2rem) clamp(3rem, 6vw, 5rem) !important;
      background: rgba(0, 0, 0, 0.6);
  }

  .btn:hover {
      background: #59D3FF;
  }

  @keyframes shine {
      0% {
          background-position: -200% center;
      }

      10% {
          background-position: 200% center;
      }

      100% {
          background-position: 200% center;
      }
  }

  @media (max-height: 600px) {
      .hero {
          gap: 0;
          padding: 10px 0 0 0;
          align-items: flex-start;
      }

      .right {
          margin-left: -60px;
          z-index: 1;
          position: relative;
          padding-top: 20px;
      }

      .title,
      .title-left {
          font-size: clamp(1.2rem, 5vw, 2.5rem);
          line-height: 1;
      }

      .subtitle {
          font-size: clamp(0.7rem, 2.5vw, 1.2rem);
          line-height: 1;
      }

      .description {
          font-size: clamp(0.6rem, 1vw, 0.8rem);
          margin-top: 0.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          display: block;
      }

      .important-image img {
          max-height: 65vh;
          margin-top: 20px;
      }

      .nav-buttons {
          margin-top: 0.2rem;
          gap: 0.2rem;
      }

      .map-container {
          margin-top: 0.2rem;
      }

      .btn,
      .btn.selected {
          font-size: clamp(0.5rem, 0.9vw, 0.8rem);
          padding: 0.2rem 0.5rem;
      }

      .btn-map {
          font-size: clamp(0.6rem, 1vw, 0.9rem) !important;
          padding: 0.3rem 0.6rem !important;
      }
  }

  @media (min-width: 1920px) {

      .title,
      .title-left {
          font-size: clamp(2rem, 13vw, 12rem);
      }
  }

  @media (max-width: 768px) {
      .description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          display: block;
      }
  }

  /* Global style for modern numbers */
  :global(.modern-num) {
      font-family: "Arial", sans-serif;
      font-weight: bold;
  }